/* .sing-up-form{
    background-color: rgba(0, 0, 0, 0.229);
}
.sing-up-form .w-50{
    padding: 0%;
} */
.box{
 /* width: 600px;
 height: 300px; */
 background-color: antiquewhite;
 /* border-radius: 20px; */
 border-radius:0px 20px 20px 0px ;
 position: relative;
}
.box .singup{
    border-bottom: 300px solid transparent;
    border-left:300px solid black;
    overflow: hidden;
 /* border-radius: 20px; */

    /* position: relative; */
}
.singup .contet{
    position: absolute;
    left:20px;
    color: aliceblue;
    /* margin: 1px; */
}
.singup .contet h1{
    margin-top: 10px;
    margin-left: 15px;
    letter-spacing:5px;
    font-size: 35px;
}
.singup .contet h4{
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 30px;
}
.singup .contet h5{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}
.singup .contet a{
    display: inline-block;
    margin-top:10px;
    margin-left: 35px;
    color: red;
    text-transform: uppercase;
    font-weight: 900;
}

#sing-up-form{
    position: absolute;
    top: 0;
    right: -20px;
    margin: 40px;
    margin-top: 30px;
}
#sing-up-form input{
    margin: 5px;
    margin-top: 10px;
    padding: 2px 2px;
}
#sing-up-form label{
    margin-left: 30px;
    text-transform: uppercase;
}
#sing-up-form #email{
    margin-left: 45px;
}
#sing-up-form #checkbox{
    margin-left: 30px;
    color: black;
}#sing-up-form  p{
    color: rgb(15, 14, 14);
    font-size: 15px;
    margin-top: 5px;
    text-transform: capitalize;
}
#sing-up-form button{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    text-transform: uppercase;
    border: 1px solid black;
}
.form-sec{
    position:absolute;
    contain: "";
    top: 100px;
    left: 0px;
    bottom: 0;
    right: 0px;
}