  /* HOME CSS */

*{
margin:0;
padding:0;
box-sizing:border-box;
outline: none;
}
.container{
max-width: 1140px;
margin: auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul,ol{
list-style: none;
}
li{
text-decoration: none;
}
a{
text-decoration: none;
}
.padding{
    padding: 0px;
}
.w-50{
    width: 50%;
    padding: 10px 0px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-content{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
nav ul{
    padding: 30px 0px;
}
nav ul li {
    padding: 0px 30px;
    font-size: 20px;
}
.header-btn a{
    padding: 5px;
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    background-color: aqua;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin: 0px 5px;
    border-radius: 0px 0px 5px 5px;
}


    /* SING-UP FROM CSS DESING */


.box{
 background-color: antiquewhite;
 border-radius:0px 20px 20px 0px ;
 position: relative;
}
.box .singup{
    border-bottom: 300px solid transparent;
    border-left:300px solid black;
    overflow: hidden;
}
.singup .contet{
    position: absolute;
    left:20px;
    color: aliceblue;
}
.singup .contet h1{
    margin-top: 10px;
    margin-left: 15px;
    letter-spacing:5px;
    font-size: 35px;
}
.singup .contet h4{
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 30px;
}
.singup .contet h5{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}
.singup .contet a{
    display: inline-block;
    margin-top:10px;
    margin-left: 35px;
    color: red;
    text-transform: uppercase;
    font-weight: 900;
}
#sing-up-form{
    position: absolute;
    top: 0;
    right: -20px;
    margin: 40px;
    margin-top: 30px;
}
#sing-up-form input{
    margin: 5px;
    margin-top: 10px;
    padding: 2px 2px;
}
#sing-up-form label{
    margin-left: 30px;
    text-transform: uppercase;
}
#sing-up-form #email{
    margin-left: 45px;
}
#sing-up-form #checkbox{
    margin-left: 30px;
    color: black;
}#sing-up-form  p{
    color: rgb(15, 14, 14);
    font-size: 15px;
    margin-top: 5px;
    text-transform: capitalize;
}
#sing-up-form button{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    text-transform: uppercase;
    border: 1px solid black;
}
.form-sec{
    position:absolute;
    contain: "";
    top: 100px;
    left: 0px;
    bottom: 0;
    right: 0px;
} 

        /* SING-IN FROM CSS DESING */

        #singin{
    width: 300px;
    height: 330px;
    background-color: black;
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    padding: 20px;
}
#singin input::placeholder{
    color: aliceblue;
}
#singin input{
    padding: 4px 15px;
    display: block;
    margin: auto;
    margin: 10px 20px;
    margin-top: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(254, 254, 254);
    color: aliceblue;
}
#singin h2{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
}
#singin #singinbtn{
    display: block;
    margin: auto;
    padding: 8px 30px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(30, 143, 255, 0.906);
    text-transform: uppercase;
    color: aliceblue;
    margin-top: 40px;
    margin-bottom: 60px;
}
#password-cheng{
    color: aliceblue;
    font-size: 14px;
    color: cornflowerblue;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 0px 50px;
    padding: 0px;
    display: flex;
    justify-content: end;
    text-transform: capitalize;
}

.conform-box{
    width: 400px;
    height: 180px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.conform-box h4{
    text-align: center;
    padding-top: 20px;
}
.conform-box input{
    padding: 10px 10px;
    margin: 40px 0px;
    background-color: rgb(110, 175, 231);
    border: none;
}
.conform-box #email-2{
    margin-left: 50px;
    border-radius: 10px 0px 0px 10px;
}
.conform-box #submit{
    border-radius: 0px 10px 10px 0px;
    border-left: 1px solid black;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 13px;
}
.conform-box .fa-xmark{
    font-size: 20px;
    display: flex;
    justify-content: end;
    padding: 10px;
}

    /* CONFROM-PASSWORD */

.confrom-pass{
    width: 200px;
    height: 100px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
}
.confrom-pass input{
    margin: 15px 0px 0px 8px;
    padding: 5px 10px;
}
.confrom-pass button{
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 6px 20px;
}